.teacherGroupsDataBoxBG {
  padding: 10px;
  width: 100%;
  background-color: #ecf0f5;
  .teacherGroupsDataBox {
    padding: 5px;
    background-color: white;
    border-top: 3px solid rgb(199, 199, 199);
    .boxHeader {
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 15px;
    }
    table {
        padding: 15px;
      td {
        align-items: center;
        flex-direction: column;
      }
    }
    .moreInformation {
        height: min-content;
        background-color: rgb(0, 174, 255);
        color: #ffff;
    }
  }
}
